@font-face {
    font-family: timer;
    src: url(fonts/Technology-Bold.ttf);
 }
 .tab h3{
    font-family: timer;
    font-size: 30px;
 }
.timer{
    background-color: #1a2b46;
    border: 5px dashed rgb(69, 143, 72);
    color: white;
    padding: 10px;
    margin: 30px;
}
#content{
    display: flex;
    justify-content: center;
}
.tab{
    margin: 10px; 
}
